<body>
  <nav *ngIf="isPlainRoute()">
    <div *ngIf="isUser(); else noUser">
      <h1>Welcome, {{ user.displayName }}</h1>
      <img [src]="user.photoURL" alt="User photo">
      <button (click)="googleSignOut()">Logout</button>
    </div>
    <ng-template #noUser>
      <button *ngIf="!isUser()" (click)="googleLogIn()">Sign in with Google</button>
    </ng-template>

  </nav>
  <app-header></app-header>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</body>
