<!-- Projects -->
<article id="projects" [class.active]="isActive">
    <h2 class="major">Projects</h2>
    <span class="image main"><img src="/images/project_overview.jpeg" alt="" /></span>
    <div class="links"><b>Project link: &nbsp;</b><a href="https://github.com/brandon-sia?tab=repositories" target="_blank" rel="noopener noreferrer" class="icon brands fa-github"> &nbsp;<u>GitHub</u></a></div>
    <p>Check out my projects that I have worked and practiced on in my spare time on GitHub.Feel free to reach out to me if you have any interesting ideas that I can practice on.</p>
</article>