<!-- Projects -->
<article id="projects" [class.active]="isActive">
    <h2 class="major">Projects</h2>
    <span class="image main"><img src="/images/project_overview.jpeg" alt="" /></span>
    <div class="links"><b>Project link: &nbsp;</b><a href="https://github.com/brandon-sia?tab=repositories" target="_blank" rel="noopener noreferrer" class="icon brands fa-github"> &nbsp;<u>GitHub</u></a></div>
    <p>
        Check out my GitHub profile where I've documented some of the projects I've worked on during my spare time. It's where I get to experiment with various tech ideas and apply what I've learned in practical ways. Whether it's automating workflows, exploring new frameworks, or tackling challenges in accounting with technology, I enjoy diving into these projects to keep my skills sharp and explore new possibilities.
    </p>
    <p>
        If you have any interesting ideas or projects that you think would be a good fit for me to practice on, feel free to reach out! I'm always looking for new opportunities to expand my knowledge and contribute to innovative solutions. Let's collaborate and bring some exciting ideas to life.
    </p>
    <div class="close" (click)="closeArticle($event)"></div>
</article>
