<article>
    <div class="login-container">
        <h2>Login</h2>
        <form (ngSubmit)="logIn()">
        <div class="form-group">
            <label for="email">Email:</label>
            <input [(ngModel)]="email" type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input [(ngModel)]="password" type="password" id="password" name="password" required>
        </div>
        <br>
        <div>
            <button type="submit">Login</button>
        </div>
        </form>
        <div class="close" (click)="closeArticle($event)"></div>
    </div>

    <div *ngIf="isLoginSuccess" class="success-message">
        You are now logged in!
    </div>
    <div *ngIf="isLoginFailed" class="fail-message">
        Your login has failed.
    </div>

</article>