<article>
    <div class="login-container">
        <h2>Login</h2>
        <form>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <br>
        <div>
            <button type="submit">Login</button>
        </div>
        </form>
        <div class="close" (click)="closeArticle($event)"></div>
    </div>
</article>