
<!-- Contact -->
<article id="contact" [class.active]="isActive">
    <h2 class="major">Contact</h2>
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
        <div class="fields">
          <div class="field half">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" ngModel required />
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" ngModel required />
          </div>
          <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="4" ngModel required></textarea>
          </div>
        </div>
        <ul class="actions">
          <li><button type="submit" class="primary">Send Message</button></li>
          <li><button type="reset">Reset</button></li>
        </ul>
      </form>

      <div *ngIf="isMessageSent" class="success-message">
        Your message has been sent successfully!
      </div>

      <div *ngIf="isMessageFail" class="fail-message">
        Your message could not be sent, please log in before sending!
      </div>

    <ul class="icons">
        <li><a href="https://github.com/brandon-sia?tab=repositories" target="_blank" rel="noopener noreferrer" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="https://www.linkedin.com/in/brandonsia/" target="_blank" rel="noopener noreferrer" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
    </ul>
    <div class="close" (click)="closeArticle($event)"></div>
</article>
