<article>
    <div class="sign-up-container">
        <h2>Sign Up</h2>
        <form (ngSubmit)="signUp()">
          <div class="form-group">
            <label for="email">Email:</label>
            <input [(ngModel)]="email" type="email" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input [(ngModel)]="password" type="password" id="password" name="password" required>
          </div>
          <br>
          <div>
            <button type="submit">Sign Up</button>
          </div>
        </form>
        <div class="close" (click)="closeArticle($event)"></div>
    </div>

    <div *ngIf="isSignUpSuccess" class="success-message">
        You have succesfully signed up!
    </div>
    <div *ngIf="isSignUpFail" class="fail-message">
        Your sign up has failed.
    </div>

</article>
  