<!-- Header -->
<header id="header" *ngIf="isPlainRoute()">
    <div class="logo">
        <span class="icon fa-smile-wink"></span>
    </div>
    <div class="content">
        <div class="inner">
            <h1>Welcome!</h1>
            <p>You have arrived at my personal page. Have a browse and reach out if you would like to connect.</p>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/intro" (click)="toggleComponent('intro', $event)">Intro</a></li>
            <li><a href="/portfolio" (click)="toggleComponent('portfolio', $event)">Projects</a></li>
            <li><a href="/work" (click)="toggleComponent('work', $event)">Work</a></li>
            <li><a href="/contact" (click)="toggleComponent('contact', $event)">Contact</a></li>
        </ul>
    </nav>
    
</header>

