<!-- Work -->
<article id="work" [class.active]="isActive">
    <h2 class="major">Work</h2>
    <span class="image main"><img src="/images/work.jpg" alt="" /></span>
    <p>Picture of my first attempt at work - internship in internal audit</p>
    <p>Work has taught me that there are various opportunities to explore besides process improvements and balancing the books. This was the springboard that changed my way of thought on how much more I can possibly contribute as an individual and beyong my formal qualification as an accountant. </p>
    <p>Now, I enjoy my role in automating audit processes using desktop applications, executable scripts and constantly thinking about how we can achieve more with less.</p>
</article>