<!-- Work -->
<article id="work" [class.active]="isActive">
    <h2 class="major">Work</h2>
    <span class="image main"><img src="/images/work.jpg" alt="" /></span>
    <p>Picture of my first attempt at work - internship in internal audit</p>
    <p>
        Work has been an eye-opening experience for me, showing me that there's so much more to explore beyond just optimizing processes and ensuring financial accuracy. It was a pivotal moment that shifted my perspective on how much I could contribute beyond the traditional scope of my qualifications as an accountant.
    </p>
    <p>
        Today, I find immense satisfaction in my role where I focus on automating audit processes using desktop applications and executable scripts. This involves not just improving efficiency but also innovating ways to achieve more with fewer resources. It's about harnessing technology to streamline complex auditing tasks, enhance accuracy, and provide deeper insights into financial data.
    </p>
    <p>
        This journey has taught me the power of automation in transforming traditional practices, enabling us to handle larger volumes of data with greater precision and speed. It's exciting to be at the forefront of this evolution, constantly exploring new tools and methodologies to push the boundaries of what's possible in accounting and technology integration.
    </p>
    <p>
        I'm passionate about finding creative solutions and leveraging technology to drive meaningful change in how we approach auditing and financial management. It's a role that challenges me to think critically, adapt quickly to new technologies, and contribute in ways that extend far beyond the confines of a typical accounting role.
    </p>
    <div class="close" (click)="closeArticle($event)"></div>
</article>