<!-- Intro -->
<article id="About" [class.active]="isActive" (click)="onArticleClick($event)">
    <h2 class="major">Intro</h2>
    <span class="image main"><img src="/images/intro_img.jpg" alt="" /></span>
    <p>
        Hey! I'm your friendly technology accountant. I've always had a knack for exploring anything tech-related, which eventually paved my career path into automation for accounting. It's been a fascinating journey, blending my love for technology with the intricacies of accounting.
    </p>
    <p>
        From a young age, I've been drawn to the pursuit of knowledge. Whether it's delving into the inner workings of businesses, unraveling the mysteries of science, appreciating the beauty of art, or diving into the stories of history, I've always found something captivating in every field. This curiosity has shaped my mindset — a commitment to lifelong learning and an eagerness to embrace new experiences.
    </p>
    <p>
        In my role, I'm constantly challenged to innovate and streamline processes using cutting-edge technologies. It's not just about numbers; it's about leveraging technology to enhance efficiency, accuracy, and insights in accounting practices. Each day brings new opportunities to learn, adapt, and apply new technologies, keeping me on my toes and fueling my passion for both technology and the dynamic world of accounting.
    </p>
    <p>
        I believe that maintaining an open mind is crucial in this fast-paced tech-driven world. It allows me to explore new ideas, adapt to changes, and find creative solutions to challenges. Whether it's testing a new automation tool or exploring emerging trends in financial technology, I'm always up for the challenge and excited about what lies ahead.
    </p>
    <div class="close" (click)="closeArticle($event)">Close</div>
</article>
